@font-face {
  font-family: "Apple Tea";
  src: url("../fonts/AppleTea.ttf");
}

$green: #86c232;
$light-green: #f2ffdf;
$dark-green: #2f5f2d;
$yellow: #FDF13F;

$font-family-logo: "Apple Tea", serif;
