@font-face {
  font-family: "Apple Tea";
  src: url("../fonts/AppleTea.ttf");
}

@font-face {
  font-family: "Fax Sans";
  src: url("../fonts/Fax_Sans_Beta.otf");
}


$green: #86c232;
$green-hover: #7eb92c;
$light-green: #f2ffdf;
$light-green-hover: #ebfad4;
$dark-green: #2f5f2d;
$dark-green-hover: #2b5c2a;
$yellow: #FDF13F;
$gray-muted: #8a8a8a;

$font-color: #444444;

$font-family-logo: "Apple Tea", serif;
