@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-container {
  height: 60px;
  width: 130px;
}

.logo {
  height: 55px;
  width: 140px;
  cursor: pointer;
}

// Common classes
.green-bgc {
  background-color: $green;
}

.light-green-bgc {
  background-color: $light-green;
}

.green-text {
  color: $green;
}

.yellow-text {
  color: $yellow;
}

.dark-green-text {
  color: $dark-green;
}

.w-90-centered {
  width: 90;
  margin: 0 auto;
}

.h-100vh {
  min-height: 100vh;
}


.text-decoration-none{
  text-decoration: none;
}




