@import "./variables";


.main_container {
  background-color: $light-green;
  display: flex;
  justify-content: space-between;
}

.control_panel {
  // background-color: #f2ffdf;
}

.filter_box{
  margin: 0.8rem auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #F2F2F2;

  -webkit-box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.26); 
box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.26);
}
