@import "./variables";

.navbar{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    padding: 10px 0;
    color: white;
   
    
}

.nav_links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    margin: auto 0;

    li{
        margin: auto 1.1rem;
        
    }
}